<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="main.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <div id="app">
    <div class="post-area">
      <input type="text" v-model="newPost.title" placeholder="Enter post title">
      <textarea v-model="newPost.content" placeholder="Enter post content"></textarea>
    </div>
    
    <div>
      <div class="post-style">
        <label for="background">Background:</label>
        <input type="color" id="background" v-model="newPost.background">

        <label for="color">Color:</label>
        <input type="color" id="color" v-model="newPost.color">  
      </div>
        <button @click="addPost">POST</button>  
    </div>
   
    <div v-for="(post, index) in posts" :key="index" class="post" :style="{ background: post.background, color: post.color }">
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
    </div>
</div>

 <script src="./script.js"></script>
</body>
</html>